.checkout-section {
  padding: 2em 0 4em;
  width: 80%;
  margin: 0 auto;
}

.checkout-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2em;
}

.cartItems-wrapper {
  scroll-behavior: smooth;
}

.checkout-col1 {
  border: 2px solid red;
}

.checkout-order {
  background: var(--clr--light);
  max-width: 320px;
  justify-self: center;
  box-shadow: #cbcbcb 1px 0.2em 0.6em;
}

.info-row1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 2em 0.5em;
}

.info-row1 h1 {
  font-size: 1.1rem;
}

.info-row1 p {
  font-size: 0.8rem;
  max-width: 220px;
  line-height: 1.3;
  text-align: center;
}

.info-divider {
  border-bottom: 1px solid #999999;
  max-width: 90%;
  margin: 0 auto;
}

.info-row2,
.info-row3 {
  padding: 1.5em 1em;
}

.info-row2 p {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.info-row2 a {
  font-size: 0.8em;
  text-decoration: none;
  color: green;
}

.info-row2 p span {
  font-size: 0.95rem;
  font-weight: 500;
}

.info-row3 p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderSubmit-btn {
  width: 100%;
  margin-top: 1.5em;
  padding: 0.5rem;
  border-radius: 25px;
  font-size: 0.9rem;
  border: none;
  background-color: var(--clr--green);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.orderSubmit-btn:hover {
  background-color: #0c351f;
}

.info-terms {
  font-size: 0.7rem;
  max-width: 230px;
  text-align: center;
  margin: 0.5em auto 0;
}

@media (max-width: 799px) {
  .checkout-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .checkout-order {
    grid-row: 1;
  }

  .cartItems-wrapper {
    max-height: 350px;
    overflow: hidden;
  }
}
