.star {
    color: #fd8a00;
    font-size: 1.3rem;
}

@media (max-width: 960px) {
    .star {
        font-size: 1rem;
    }
}

@media (max-width: 560px) {
    .star {
        font-size: 0.8rem;
    }
}